config SHIELD_DACTYL_MANUFORM_LEFT
    def_bool $(shields_list_contains,dactyl_manuform_left)
    select SPI

config SHIELD_DACTYL_MANUFORM_RIGHT
    def_bool $(shields_list_contains,dactyl_manuform_right)
    select SPI
